/* globals.css */

/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Light Mode Variables */
body.light {
    --background: #ffffff; /* White background for light mode */
    --foreground: #000000; /* Black text for light mode */
}

/* Dark Mode Variables */
body.dark {
    --background: #121212; /* Very dark background for dark mode */
    --foreground: #ffffff; /* White text for dark mode */
}

/* Add modern dark gradient background */
body {
    @apply transition-all duration-300;
}

.noScrollBar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.noScrollBar {
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
    scrollbar-width: none; /* For Firefox */
}
