/* globals.css */

/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Light Mode Variables */
body.light {
    --background: #ffffff; /* White background for light mode */
    --foreground: #000000; /* Black text for light mode */
}

/* Dark Mode Variables */
body.dark {
    --background: #121212; /* Very dark background for dark mode */
    --foreground: #ffffff; /* White text for dark mode */
}

/* Add modern dark gradient background */
body {
    @apply transition-all duration-300;
}

.noScrollBar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.noScrollBar {
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
    scrollbar-width: none; /* For Firefox */
}

.no-scroll-on-recent::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* Luxurious Dark Scrollbar */
.scrollbar::-webkit-scrollbar {
    width: 10px; /* Vertical scrollbar width */
    height: 10px; /* Horizontal scrollbar height */
}

.scrollbar::-webkit-scrollbar-track {
    background: linear-gradient(
        to bottom,
        #111,
        #222
    ); /* Smooth dark gradient track */
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #444, #666); /* Sleek metallic thumb */
    border-radius: 10px;
    border: 2px solid #111; /* Inner border for depth */
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        135deg,
        #777,
        #aaa
    ); /* Luxurious silver effect on hover */
    border: 2px solid #222;
}
